[Desktop Entry]
Name=HeidiSQL
Comment=HeidiSQL is a powerful and easy client for MySQL, MariaDB, Microsoft SQL Server and PostgreSQL. 
Exec=heidisql %U
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=Development
Keywords=Build;Develop;
Icon=com.heidisql.Heidisql
Name[en_GB]=com.heidisql.Heidisql.desktop
